<div>
    <audio class="audio" src="<%= song.previewUrl %>" controls="">
            Your browser does not support the audio element.
    </audio>
    <div class="audio-options">
        <div><%= song.name %></div>
        <a href="#" onclick="saveToFavorite(<%song %>, <% artistInfo %>)">add to favourites</a> | add to queue | add to playlist |  <a class="openmodal" href="#<%= artistInfo.id %>" data-toggle="modal" >more info</a> | etc |
    </div>
</div>
 <div class="artist-modal modal fade" id="<%= artistInfo.id %>" role="dialog" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content" id="back" >
                    <div class="modal-header">
                    <h4>Artist Details<h4>
                </div>
                <div class="modal-body">
                    <p>Name: <%=artistInfo.name %></p>
                    <p>Bio : <%=artistInfo.bio %></p>
                    <p><%=artistInfo.locationLabel %>: <%=artistInfo.location %></p>
                    <div id="map" class="artist-map"></div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </div>
      </div>

 <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?v=3.20&key=AIzaSyDHylimdPIr0Lfc6WzCjS47B7mrNrTQSJ0&callback=initialize">
</script>
<script>
function saveToFavorite(song, artistInfo) {
  console.log("Song: ", song);
  console.log("ArtistInfo: ", artistInfo);
    const info = {
        songName: song.name,
        songImage: song.image,
        songId: song.id,
        songPreviewUrl: song.previewUrl,
        artistName: artistInfo.name,
        artistBio: artistInfo.bio,
        artistLocation: artistInfo.location,
        artistLocationLabel: artistInfo.locationLabel,


    };
      $.ajax({
        method:  'POST',
        url:     '/favourites/new/',
        data: {info},
        success: function(data) {
            console.log(data);
        },
        error:   function(data) {
            console.log(data);
        }
  });
}

setTimeout(function(){ $('#<%= artistInfo.id %>').on('shown.bs.modal', function () {
    google.maps.event.trigger(map, "resize");
    map.panTo(marker.getPosition());
}); }, 1000);
var marker;
var map;
function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4
    });
    var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);

    }

    function geocodeAddress(geocoder, resultsMap) {
    var address = '<%= artistInfo.location %>'
    geocoder.geocode({'address': address}, function(results, status) {
        if (status === 'OK') {
        resultsMap.setCenter(results[0].geometry.location);
        marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
        });

        } else {
        alert('Geocode was not successful for the following reason: ' + status);
        }
    });
    }


</script>
