<div class="player">
    <div class="player-image">
        <img  src="<%= song.image %>" />
    </div>
    <div class="player-audio">
         <div class="player-info">
             <div class="player-info-artist"><%= artistInfo.name %></div>
             <div class=""><%= song.name %></div>
        </div>
        <audio class="audio" src="<%= song.previewUrl %>" controls="">
                Your browser does not support the audio element.
        </audio>
        <div class="player-options">
            <div><a href="#" onclick="saveToFavorite('<%= JSON.stringify(song) %>','<%= JSON.stringify(artistInfo) %>','<%= artistBio %>')">Add to favourites</a></div>
            <div><a href="#" onclick="saveToQueue('<%= JSON.stringify(song) %>','<%= JSON.stringify(artistInfo) %>','<%= artistBio %>')" > Add to queue </a></div>
            <div><a href="#" onclick="saveToFollowingArtists('<%= artistInfo.id %>')">Follow this artist </a></div>
            <div><a class="openmodal" href="#<%= artistInfo.id %>" data-toggle="modal" >Artist info</a></div>
        </div>
    </div>
</div>

 <div class="artist-modal modal fade"  id="<%= artistInfo.id %>" role="dialog" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content" id="back" >
                    <div class="modal-header">
                    <h4>Artist Details<h4>
                </div>
                <div class="modal-body">
                    <p>Name: <%=artistInfo.name %></p>
                    <p>Bio : <%=artistBio %></p>
                    <p><%=artistInfo.locationLabel %>: <%=artistInfo.location %></p>
                    <div id="map_<%= artistInfo.id %>" class="artist-map"></div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </div>
      </div>
</div>
<script>

function saveToFavorite(song, artistInfo, artistBio) {
    song = JSON.parse(song);
    artistInfo = JSON.parse(artistInfo);
    const info = {
        songName: song.name,
        songImage: song.image,
        songId: song.id,
        songPreviewUrl: song.previewUrl,
        artistId: artistInfo.id,
        artistName: artistInfo.name,
        artistBio: artistBio,
        artistLocation: artistInfo.location,
        artistLocationLabel: artistInfo.locationLabel,


    };
      $.ajax({
        method:  'POST',
        url:     '/favourites/new/',
        'Content-Type': 'application/x-www-form-urlencoded',
        data: { info: info },
        success: function(data) {
            toastr.success('Song added to favourites.');  
        },
        error:   function(data) {
           
        }
  });
}

function saveToQueue(song, artistInfo, artistBio) {
    song = JSON.parse(song);
    artistInfo = JSON.parse(artistInfo);
    const info = {
        songName: song.name,
        songImage: song.image,
        songId: song.id,
        songPreviewUrl: song.previewUrl,
        artistId: artistInfo.id,
        artistName: artistInfo.name,
        artistBio: artistBio,
        artistLocation: artistInfo.location,
        artistLocationLabel: artistInfo.locationLabel,


    };
      $.ajax({
        method:  'POST',
        url:     '/queue/new',
        'Content-Type': 'application/x-www-form-urlencoded',
        data: { info: info },
        success: function(data) {
            toastr.success('Song added to queue.');
        },
        error:   function(data) {
            
        }
  });
}

function saveToFollowingArtists(artistId) {
    const info = {
        artistId: artistId,
    };
      $.ajax({
        method:  'POST',
        url:     '/artist/new/',
        'Content-Type': 'application/x-www-form-urlencoded',
        data: { info: info },
        success: function(data) {
            toastr.success('Now following artist.');
        },
        error:   function(data) {      
        }
  });
}

setTimeout(function(){ $('#<%= artistInfo.id %>').on('shown.bs.modal', function () {
    google.maps.event.trigger(map["<%= artistInfo.id %>"], "resize");
    map["<%= artistInfo.id %>"].panTo(marker["<%= artistInfo.id %>"].getPosition());
}); }, 1000);

setTimeout(function(){
initializeMaps["<%= artistInfo.id %>"] = function() {
    map["<%= artistInfo.id %>"] = new google.maps.Map(document.getElementById('map_<%= artistInfo.id %>'), {
        zoom: 4
    });
    var geocoder = new google.maps.Geocoder();
        setGeoCoder["<%= artistInfo.id %>"](geocoder, map["<%= artistInfo.id %>"]);

 }
}, 500);

setTimeout(function(){
setGeoCoder["<%= artistInfo.id %>"] = function (geocoder, resultsMap) {
        var address = '<%= artistInfo.location %>'
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            marker["<%= artistInfo.id %>"] = new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
            });

            } else {
            alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
}, 500);


</script>
