<div class="page container">
    <h2>Results</h2>
    <% allSongs.forEach((song) => { %>
       <form action="/playsingle" method="POST">
            <input type="hidden" name="preview" value="<%= song.preview_url %>">
            <input type="hidden" name="artist" value="<%= song.artists[0].name %>">
            <input type="hidden" name="artistId" value="<%= song.artists[0].id %>">
            <input type="hidden" name="songName" value="<%= song.name %>">
            <input type="hidden" name="songId" value="<%= song.id %>">
            <input type="hidden" name="songImage" value="<%= song.image %>">
            <div class="search-results">
                <div><input type="image" name="submit" class="search-results-image" src="<%= song.image %>"></div>
                <div class="search-results-details">
                <div class="search-results-artist"><%= song.artists[0].name %></div>
                <div class="search-results-song"><%= song.name %></div>
                </div>
              
            </div>
        </form>
   <% }) %>
</div>